.center {
    width: 1024px;
}

.navbar {
    background-color: #353A40 !important;
}

.navbar-nav {
    font-size: 0.9rem;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: #9CA096 !important;
}

.nav-link.active {
    font-weight: bold;
    color: white !important;
}

.verde {
    color: #2E9245 !important;
}

.headertext {
    text-align: right;
    margin-top: 4em;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
}

.header {
    position: relative;
    color: white;
    height: 600px;
}

.header .btn-primary {
    background-color: #29A644;
    border: #29A644;
}

.headerImage {
    position: absolute;
    background-image: url(/images/ba1.jpg);
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.btn-primary {
    --bs-btn-bg: #96C93E;
    --bs-btn-border-color: #96C93E;
    --bs-btn-hover-bg: #098e1f;
    --bs-btn-hover-border-color: #96C93E;
    --bs-btn-active-bg: #96C93E;
    --bs-btn-active-border-color: #96C93E;
    --bs-btn-disabled-bg: #96C93E;
    --bs-btn-disabled-border-color: #96C93E;
}
.footer-navbar {
    background-color: #1D4053 !important ;
}

footer .nav-item {
    width: 8em;
    text-align: center;
    margin: 0 2em 0 0;
    font-size: small;
}

.title h6 {
    font-size: small;
    font-weight: 300;
}

.card-title button {
    --bs-btn-padding-y: .10rem;
     --bs-btn-padding-x: .25rem; 
     --bs-btn-font-size: .75rem;
     font-weight: bold;
}

.card-title button.btn-info{
    color:white;
}
